table, tr, td{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 30px 30px;
  }
  button{
  border: black;
  padding: 10px 10px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  margin-left: 12px;

}
