<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>table</title>
  <link rel="stylesheet" href="/dynamictable/style.css">
</head>
<body>
  <h1>Harshika Rabadiya Date:01-02-2024 Task</h1>
  <br><br><br><br>
  <center>
  <button id="addcol" class="bt1">+</button>
  <button id="dltcol" class="bt1">-</button>
<br><br>
  <table id="myTable" class="center">
    <tr>
      <td>event1</td>
      <td>event2</td>
    </tr>
    <tr>
      <td>event3</td>
      <td>event4</td>
    </tr>
  </table>
  <br>
  <button id="addrow" class="bt2">+</button>
  <button id="dltrow" class="bt2">-</button>
</center>
 <script src="/dynamictable/script.js"></script>
</body>
</html>