<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>table</title>
  <link rel="stylesheet" href="/kukucube/style2.css">
</head>
<body>
  <h1>Harshika Rabadiya Date:02-02-2024 Task-2</h1>
  <br><br><br><br>
  <center>

<br><br>
<p id="scoreset">Score:0</p>
<p id="timeset"></p>
  <table id="myTable" class="center">
    <tbody id="tbody"></tbody>
    <tr class="row">
      <td id="td1" style="background-color: cadetblue; opacity: 0.25;" class="col" ></td>
      <td id="td2" style="background-color: cadetblue;" class="col" ></td>
    </tr>
    <tr class="row">
      <td id="td3" style="background-color: cadetblue;" class="col" ></td>
      <td id="td4" style="background-color: cadetblue;" class="col"></td>
    </tr>
  </tbody> 
  </table>

  <br>
 
</center>
 <script src="/kukucube/script2.js"></script>
</body>
</html>
